:root{
	--color-base: #202122;
	--color-emphasized: #101418;
	--color-progressive: #3366cc;
	--color-progressive--hover: #3056a9;
	--color-progressive--active: #233566;
	--color-visited: #6a60b0;
	--color-visited--hover: #534fa3;
	--color-visited--active: #353262;
	--background-color-base: #ffffff;
	--background-color-neutral-subtle: #f8f9fa;
	--border-color-muted: #dadde3;
	--outline-color-progressive--focus: #3366cc;
}
@media screen and (prefers-color-scheme: dark){
	:root{
		--color-base: #eaecf0;
		--color-emphasized: #f8f9fa;
		--color-progressive: #88a3e8;
		--color-progressive--hover: #a6bbf5;
		--color-progressive--active: #b6d4fb;
		--color-visited: #a799cd;
		--color-visited--hover: #c5b9dd;
		--color-visited--active: #d9d0e9;
		--background-color-base: #101418;
		--background-color-neutral-subtle: #202122;
		--border-color-muted: #404244;
	}
}
body{
	background-color: var(--background-color-base);
	color: var(--color-base);
	font-family: sans-serif;
	margin: 1em;
}
pre{
	background-color: var(--background-color-neutral-subtle);
	color: var(--color-emphasized);
	border: 1px solid var(--border-color-muted);
	padding: 1em;
	white-space: pre-wrap;
	overflow-x: hidden;
	word-wrap: break-word;
	line-height: 1.3;
}
a{
	color: var(--color-progressive);
	text-decoration: none;
}
a:active,
a:hover,
a:focus{
	text-decoration: underline;
}
a:focus-visible{
	border-radius: 2px;
	outline: solid 2px var(--outline-color-progressive--focus);
}
a:hover{
	color: var(--color-progressive--hover);
}
a:active{
	color: var(--color-progressive--active);
}
a:visited{
	color: var(--color-visited);
}
a:visited:hover{
	color: var(--color-visited--hover);
}
a:visited:active{
	color: var(--color-visited--active);
}
[type="submit"]{
	cursor: pointer;
}
